beautifulsoup4
flair
keras
num2words
numpy
pandas
pickle
progressbar
pubmed_lookup
pydot
requests
sklearn.model_selection
tensorflow
torch===1.4.0
torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
